[Desktop Entry]
Encoding=UTF-8
Name=Tuxocide
Comment=3D FPS a war rages on in antarctica...
StartupNotify=false
Exec=tuxocide
Icon=${SNAP}/meta/gui/tuxocide.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;SportsGame;KidsGame;Graphics